.icon{
    @apply p-2 hover:bg-slate-100 rounded-full transition-all ease-in hover:scale-[1.1] active:scale-[0.8] duration-200;
}

.single__todo_text{
    @apply outline-none w-full bg-transparent;
    transition: text-decoration 0.3s ease;
}
.single__todo_text.done{
    text-decoration: line-through;
    opacity: 0.3;
}